.body{
  font-family: Roboto;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}


.navBar--general{
  position: flex;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  background-color: hsla(289, 31%, 46%, 1);
  color: white;
} 

.overview--header{
  position: absolute;
  width: 200px;
  height: 12.03px;
  left: 56px;
  top: 187.01px;
  
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  
  display: flex;
  align-items: center;
  
  color: #786E7A;
}

.status-buttons{
  position: absolute;
  width: 180px;
  height: 24.05px;
  left: 916px;
  top: 181px;
  background: #F5F4F5;
  border: 2px solid #F5F4F5;
  box-sizing: border-box;
  border-radius: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;

  display: flex;
  align-items: center;
  text-align: center;

  color: #5A535C;
}

.background--box {
  position: absolute;
  width: 1040px;
  height: 430.91px;
  left: 56px;
  top: 226px;

  background: #C4BFC5;
  border-radius: 10px;
}

.button {
  position: absolute;
  height: 32px;
  left: 56px;
  padding-top: 16px;
  padding-right: 20px;
}


.mb-3 {
  width: 350px;
}

.forms--general {
  margin-left: 15px;
}

.form-btn {
  background-color: hsla(289, 31%, 46%, 1) !important;
  border-color: hsla(289, 31%, 46%, 1) !important;
}

.current-btn {
  position: absolute;
  height: 24.05px;
  width: 180px;
  left: 728px;
  top: 181px;
  border-radius: 10px;
  
  font-size: 18px;
  line-height: 18px;

  background-color: hsla(300, 5%, 96%, 1);
  border: 2px solid hsla(300, 5%, 96%, 1)
}

.archive-btn {
  position: absolute;
  height: 24.05px;
  width: 180px;
  left: 916px;
  top: 181px;
  border-radius: 10px;
  
  font-size: 18px;
  line-height: 18px;

  background-color: hsla(300, 5%, 96%, 1);
  border: 2px solid hsla(300, 5%, 96%, 1)
}

