.body{
  font-family: Roboto;
  font-style: normal;
}

.general--header {
  display: flex;
  text-align: center;
  height: 157px;
  background: #8D519A;
  color: white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.navBar--general{
  position: absolute;
  width: 1152px;
  height: 128px;
  left: 0px;
  top: 0px;

  background: #8D519A;
} 

.overview--header{
  position: absolute;
  left: 56px;
  height: 350px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;

  display: flex;
  align-items: center;
  color: #786E7A;
}

.status-buttons{
  position: absolute;
  width: 180px;
  height: 24.05px;
  left: 916px;
  top: 181px;
  background: #F5F4F5;
  border: 2px solid #F5F4F5;
  box-sizing: border-box;
  border-radius: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;

  display: flex;
  align-items: center;
  text-align: center;

  color: #5A535C;
}

.background--box {
  position: absolute;
  width: 1040px;
  height: 430.91px;
  left: 56px;
  top: 226px;

  background: #C4BFC5;
  border-radius: 10px;
}

.button {
  position: absolute;
  height: 32px;
  left: 56px;
  padding-top: 16px;
  padding-right: 20px;
}

.button--adjust{
 left: 330px; 
}

#search--button{
  position: absolute;
  width: 312px;
  height: 32px;
  left: 56px;
  padding-right: 8px;
  background: #AEA7AF;
  border: 2px solid #AEA7AF;
  box-sizing: border-box;
  border-radius: 10px;
}