.body {
  font-family: Roboto;
  font-style: normal;
}

.flex--adjustment {
  width: 1040px;
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
}

.form--list {
  list-style-type: none;
  padding: 0;
}
.form--row {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
.form--row > label {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  flex: 1;
  border-radius: 10px;
}
.form--row > input,
.form--row > option,
.form--row > select {
  flex: 2;
  border-radius: 10px;
  background: #f5f4f5;
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  padding-left: 32px;
}
.dropdown--row {
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 16px;
  border: 2px solid #c4c4c4;
  flex: 1;
  border-radius: 10px;
  background: #f5f4f5;
  color: #786e7a;
}

.form--button {
  border-radius: 10px;
  background: #4a1256;
  padding: 10px 22px;
  color: #f5f4f5;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 24px;
  margin-top: 12px;
}

.form--button:hover {
  transition: all 0.2s ease-in-out;
  background: #4a1256;
  background: #f5f4f5;
  color: #8d519a;
}

.bold {
  font-weight: bold;
}

.form--button--long {
  border-radius: 10px;
  width: 220px;
  background: #4a1256;
  padding: 10px 22px;
  color: #f5f4f5;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 24px;
  margin-top: 12px;
}

.form--button--long:hover {
  transition: all 0.2s ease-in-out;
  background: #4a1256;
  background: #f5f4f5;
  color: #8d519a;
}

.actionComponents {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.signOut {
  margin-left: 120px;
}

.overview--header {
  position: absolute;
  margin-left: 24px;
  top: 134px;
  height: 16px;
  padding-top: 20px;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;

  display: flex;
  align-items: center;
  color: #786e7a;
}

.background--box {
  width: 1200px;
  height: 464px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  margin-bottom: 48px;
  top: 224px;

  background: #c4bfc5;
  border-radius: 10px;
}

.splitScreenLanding {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;

  margin-top: auto;
  margin-bottom: auto;
}

.leftPaneLanding {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.leftPaneLandingLogged {
  width: 40%;
  padding: 10px;
}

.rightPaneLanding {
  width: 60%;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  margin-right: 30px;
  background: #f5f4f5;
}

#second {
  width: 75%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12.5%;
}
.landing--logged {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  vertical-align: middle;
}

.landing--logged > p {
  padding-top: 144px;
  padding-bottom: 48px;
  color: #f5f4f5;
  font-size: 32px;
}

.button {
  position: absolute;
  height: 32px;
  left: 56px;
  padding-top: 16px;
  padding-right: 20px;
}

.button--adjust {
  left: 300px;
}

#search--button {
  position: absolute;
  width: 312px;
  height: 32px;
  left: 56px;
  padding-right: 8px;
  background: #aea7af;
  border: 2px solid #aea7af;
  box-sizing: border-box;
  border-radius: 10px;
}

.changes-text {
  position: absolute;
  width: 316px;
  height: 18px;
  left: 818px;
  top: 144px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #5a535c;
}
table {
  width: 100%; /* Optional */
}

tbody td {
  width: 14%;
}

thead th {
  width: 15%; /* Optional */
}

thead,
tbody {
  display: block;
}

tbody {
  height: 274px;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}

.me-2 {
  margin-left: 5px;
  margin-top: 5px;
}

.filter--rough {
  margin-right: 5px;
  margin-top: 5px;
}

.popup {
  height: 334px;
  width: 640px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -450px;
  margin-bottom: 100px;
  background: rgba(245, 244, 245);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: +1;
}

.popup-inner {
  position: relative;
}

.popup-inner .close-btn {
  position: absolute;
  top: -140px;
  right: -100px;
}

.OK-btn {
  position: absolute;
  width: 200px;
  height: 80px;
  margin-top: 85px;
  margin-bottom: 100px;
  margin-left: 100px;

  background: hsla(160, 22%, 42%, 1);
  border-radius: 30px;
  z-index: +3;
}

.check--pop {
  position: absolute;
  margin-top: -90px;
  margin-left: 180px;
  width: 36px;
  height: 36px;
}
