.header {
  display: flex;
  align-items: center;
  height: 157px;
  background: #8D519A;
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: auto;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}
