body {
  margin: 0;
}

/* nav {
  position: absolute;
  width: 1152px;
  height: 157px;
  left: 0px;
  top: 0px;
  background: hsla(289, 31%, 46%, 1);
} */

.header--profil {
  height: 60px;
  width: 60px;
  left: 21px;
  top: 60px;
  border-radius: 0px;
}

.header--logo {
  height: 60px;
  width: 150px;
  left: 981px;
  top: 60px;
  border-radius: 0px;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}
