body {
  margin: 0;
}

nav {
  position: absolute;
  width: 1152px;
  height: 157px;
  left: 0px;
  top: 0px;
  background: hsla(289, 31%, 46%, 1);
}

.header--profil {
  height: 60px;
  width: 60px;
  left: 21px;
  top: 60px;
  border-radius: 0px;
}

.header--logo {
  height: 60px;
  width: 150px;
  left: 981px;
  top: 60px;
  border-radius: 0px;
}

.header {
  display: flex;
  align-items: center;
  height: 157px;
  background: #716b72;
  color: #F5F4F5;
  padding: 20px;
}

.header--logo{
position: absolute;
width: 150px;
height: 60px;
right: 21px;
top: 60px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
